.Resume {
    height: 100%;
    margin-left: 15%;
}

@media(max-width: 800px){
    .Resume{
        margin: 0;
        width: 110%;
    }
}

@media(max-width: 500px){
    .Resume {
        margin: 0;
        padding: 0;
        height: 100%;
    }
}

