.Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 2%;
}
.Title {
    margin: auto;
}
.Title h2 {
    font-size: 2rem;
}
.Title p {
    font-size: 1.2rem;
}
.Cards img {
    position: relative;
    width: 200px;
    height: 250px;
}


.Cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 2%;
}
.Title2 {
    margin: auto;
    padding-left: 2%;
}
.Title2 h2 {
    font-size: 2rem;
}
.Title2 p {
    font-size: 1.2rem;
}
.Cards2 img {
    position: relative;
    width: 200px;
    height: 250px;
}

@media(max-width: 800px){
    .Cards {
        width: 80%;
    }
    .Cards2 {
        width: 80%;
    }
}

@media(max-width: 500px){
    .Cards {
        width: 90%;
    }
    .Cards2 {
        width: 90%;
    }
    .Title h2 {
        font-size: 1rem;
    }
    .Title p {
        display: none;
    }
    .Title2 h2 {
        font-size: 1rem;
    }
    .Title2 p {
        display: none;
    }
}

